ul,
ol {
    margin: rem(40px) 0;
    list-style: none;

    li {
        margin-bottom: rem(16px);
    }
}

ul {
    
    li {
        position: relative;
        padding-left: rem(20px);      

        &:before {
            position: absolute;
            content: "";
            height: 6px;
            width: 6px;
            background-color: color("accent");
            top: 12px;
            left: 5px;     
        }
    }
}