// Colors

$stormy-sea-foam-blue: #04aeb5;
$rorangey-red: #F24C27;

$white: #fff;
$black: #111; // "black"
$black-transparent: rgba(256, 256, 256, .8);


$gray--dark: #4F4F4F;
$gray: #8C8C8C;
$gray--light: #BFBFBF;
$gray--lightest: whitesmoke;


// Semantic Colors
$site-colors: (
    "text": $black,
    "primary-light": lighten($stormy-sea-foam-blue, 5%),
    "primary": $stormy-sea-foam-blue,
    "primary-dark": darken($stormy-sea-foam-blue, 5%),
    "accent": $rorangey-red,
    "border": $gray--light,
);


$link-color: color('primary-dark');
$link-hover: color('primary-light');
$text-color: color('text');




