.o-wrapper {
    @include j-center($max-width: 100%);
}

.o-container {
    flex: 1;
}

.o-container--outer {
    flex: 1;
    max-width: $jeet-max-width;
    padding: rem(20px);
    margin-top: rem(40px);
    margin-bottom: rem(40px);


    @include screen(tablet) {
        @include j-center($pad: 40px);
    }
}

.o-container--inner {
    @include j-center($max-width: $inner-content-width)
}

