.o-wrapper {
    @include j-center($max-width: 100%);
}

.o-container {
    flex: 1;
}

.o-container--outer {
    @include j-center($pad: $base-spacing-unit);
    margin-top: rem(40px);
    margin-bottom: rem(40px);
    overflow: hidden;

    @include screen(tablet) {
        @include j-center($pad: 40px);
    }
}

.o-container--flex {
    display: flex;
}

.o-container--inner {
    @include j-center($max-width: $inner-content-width)
}

