body.u-mobile-menu-active {
    margin-right: 50%;

        .c-header__title {
            opacity: 0;
        }

    .c-overlay {
        visibility: visible;
        right: 50%;
        opacity: 1;
    }

    .c-mobile-nav {
        right: 0;
    }

    .c-hero--fh {
        height: 100vh;
    }
}