// Colors

$stormy-sea-foam-blue: #037E83;
$rorangey-red: #F24C27;

$white: #fff;
$black: #222; // "black"


$gray--dark: #4F4F4F;
$gray: #8C8C8C;
$gray--light: #BFBFBF;

// Semantic Colors
$site-colors: (
    "text": $black,
    "primary": $stormy-sea-foam-blue,
    "accent": $rorangey-red,
    "border": $gray--light,
);


$link-color: color('accent');
$link-hover: lighten(color('accent'), 20%);
$text-color: color('text');




