// Fonts
@font-face {
  font-family: 'Roboto Thin';
  src: url("../../fonts/Roboto-Thin.ttf")  format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Regular.ttf")  format('truetype');
}

@font-face {
  font-family: 'Roboto Italic';
  src: url("../../fonts/Roboto-Italic.ttf")  format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("../../fonts/Roboto-Bold.ttf")  format('truetype');
}


// Font Stacks
$rb--bold:      'Roboto bold';
$rb--regular:   'Roboto Regular';
$rb--italic:    'Roboto Italic';
$rb--thin:      'Roboto Thin';


/**
 * Semantic Font Map
 * use -- font(<name>);
 */
$fonts: (
  "display": $rb--bold,
  "paragraph": $rb--regular,
  "italic": $rb--italic,
  "thin": $rb--thin,
  "bold": $rb--bold,
  "regular": $rb--regular,
);

@function font($key: 'primary') {
    @return map-get($fonts, $key);
}

