// Fonts
@font-face {
  font-family: 'OpenSans Light';
  src: url("../../fonts/OpenSans-Light.ttf")  format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  src: url("../../fonts/OpenSans-Regular.ttf")  format('truetype');
}

@font-face {
  font-family: 'OpenSans Italic';
  src: url("../../fonts/OpenSans-italic.ttf")  format('truetype');
}

@font-face {
  font-family: 'OpenSans Bold';
  src: url("../../fonts/OpenSans-Bold.ttf")  format('truetype');
}


// Font Stacks
$font--bold:      'OpenSans Bold';
$font--regular:   'OpenSans';
$font--italic:    'OpenSans Italic';
$font--light:     'OpenSans Light';




