// Breakpoints
$mobile:            320px !default;
$mobile-l:          640px !default;

$tablet:            768px !default;
$tablet-l:          1024px !default;

$desktop:           1280px !default;
$desktop-l:         1500px !default;