.widget {
    padding-left: 2.5rem;

    @include screen(tablet-l){
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0 auto;
        flex-direction: column;
    }
}

    .widget-title {
        margin: 0;
    }

    // Categories Widget
    .widget_categories {

        ul {
            list-style: none;
            padding: 0;
            padding-top: rem(12px);
            margin: 0;

            @include screen(tablet-l){
                padding: 1rem 0 1rem;
            }
        }

        .cat-item {
            font-size: 1em;
            margin-bottom: .8em;
            @include font-family(light);

            a {
                @include font-family(bold);
                line-height: 1.2;
                display: inline-block;
                transition: $transition;
                @include font-family(bold);

                &:hover,
                &:active,
                &:focus {
                    color: $link-hover;
                }
            }
        }
    }