.c-button {
    background-color: color('primary-dark');
    border: none;
    color: $white;
    border-radius: 2px;
    padding: rem(10px) rem(20px);
    font-size: 20px;
    transition: background-color .3s ease;
    cursor: pointer;
    @include font-family(bold);

    &:hover {
        background-color: color('primary-light');
        color: $white;
    }
}