.c-page {
    margin: 0 auto;
}

    .c-page__header {
        margin-bottom: 4rem;
    }

    .c-page__title {
        @include font-family(bold);
        text-align: center;
        margin: 0;
    }

    .c-page__footer {

    }


