.c-form {
    margin: rem(40px) auto;
    max-width: 40rem;
}

    .c-form__title {
        max-width: 40rem;
    }

    .c-form__field {
        margin-bottom: rem(10px);
    }

    .c-form__label {
        @include font-family(bold);
    }

    .c-form__required {

    }

    .c-form__submit {
        @include screen(mobile-l){
            float: left;
            width: auto;
        }
    }