.c-meta {

    .author {
        @include font-family(bold);
        transition: $transition;

        &:hover {
            border-bottom-color: $link-hover;
        }
    }
}

    .c-meta--single {
        margin-bottom: rem(40px);
    }

    .c-meta--index {
        margin-bottom: rem(20px);
    }
