.o-wrapper {
    width: 100%;
    @include clearfix();
}

.o-container {
    flex: 1;
    max-width: $max-container-width;
    margin: 0 auto;
}

.o-container--outer {
    display: flex;
    max-width: $max-site-width;
    padding: rem(20px);
    margin: rem(40px) auto;
    flex-direction: column;


    @include screen(tablet) {
        padding: 0 rem(40px);
    }
}

.o-container--inner {
    margin: 0 auto;
    width: auto;
    max-width: 800px;
}

