.o-wrapper {
    width: 100%;
    @include clearfix();
}

.o-container {
    flex: 1;
    max-width: $max-width;
    margin: 0 auto;
}

.o-container--outer {
    display: flex;
    max-width: $jeet-max-width;
    padding: rem(20px);
    margin: rem(40px) auto;
    flex-direction: column;


    @include screen(tablet) {
        padding: 0 rem(40px);
    }
}

.o-container--inner {
    @include j-center($max-width: $inner-content-width)
}

