input,
textarea {
    color: color("base");
    border: 1px solid color("base");
    @include font-size($base-font-size);
    padding: .5rem;
    transition: $transition;
    max-width: 100%;
    width: 100%;
    border-color: color("border");
    border-radius: 4px;

    &:focus {
        border-color: $link-hover;
        box-shadow: 0 0 1px 0 $link-hover;
        outline: none;
    }
}

fieldset {
    border: none;
}


// Placeholders
::-webkit-input-placeholder {
  color: $gray;
}
::-moz-placeholder {
  color: $gray;
}
:-ms-input-placeholder {
  color: $gray;
}
:-moz-placeholder { 
  color: $gray;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
