.c-nav {
    display: none;

    @include screen(tablet){
        display: flex;
        align-items: stretch;
        min-height: 100px;
        position: relative;
        text-align: center;
        z-index: 2;
        flex: 1.5;
        justify-content: flex-end;
    }
}

    .c-nav__container {
        align-items: stretch;
        display: flex;
        min-height: 100px;
        width: 100%;
    }

    .c-nav__menu {
        display: flex;
    }

        .c-nav__menu__item{
            align-items: center;
            display: flex;
            justify-content: center;
            padding: 12px;
            margin: 0;

            @include screen(tablet){
                justify-content: flex-start;
            }

            a {
                flex-grow: 1;
                color: color('text');
                transition: $transition;
                text-transform: uppercase;
                @include font-family(regular);

                @include screen(mobile-l-max){
                    color: $white;
                }

                &:hover {
                    color: color('primary');
                }
            }
        }



