.c-post {

}

    .c-post__header {
        margin-bottom: rem(40px);
        text-align: center;
    }

    .c-post__title {
        @include font-family(bold);
        margin: 0 0 rem(20px);
    }

    .c-post__footer {

    }

