.widget {

}

.widget-title {
    margin: 0;
    text-align: center;
}

// Categories Widget
.widget_categories {

    ul {
        list-style: none;
    }

    .cat-item {
        font-size: em(20px);
        @include font-family(regular);
    }
}