.c-nav {
    align-items: stretch;
    display: flex;
    min-height: 100px;
    position: relative;
    text-align: center;
    z-index: 2;
    flex: 1.5;
    justify-content: flex-end;
    transition: right .3s ease,
                visibility .3s ease,
                background-color .3s ease;

    @include screen(mobile-l-max){
        background-color: $black;
        visibility: hidden;
        right: -33%;
        opacity: 0;
    }
}

    .c-nav__container {
        align-items: stretch;
        display: flex;
        min-height: 100px;
        width: 100%;
    }

    .c-nav__menu {
        display: none;
        align-items: stretch;
        width: 100%;
        justify-content: space-around;

        @include screen(tablet){
            display: flex;
        }
    }

        .c-nav__menu__item{
            align-items: center;
            display: flex;
            justify-content: center;
            padding: 12px;
            margin: 0;

            @include screen(tablet){
                justify-content: flex-start;
            }

            a {
                flex-grow: 1;
                color: color('text');
                transition: $transition;
                text-transform: uppercase;
                @include font-family(regular);

                @include screen(mobile-l-max){
                    color: $white;
                }

                &:hover {
                    color: color('primary');
                }
            }
        }



