.c-post {
    margin-bottom: rem(40px);
    padding-bottom: rem(40px);
    border-bottom: 1px solid color('border');
}

    .c-post__header {
        margin-bottom: rem(40px);
        text-align: center;
    }

        .c-post__header__image {
            height: rem(300px);
            width: 100%;
            background-color: $gray--lightest;
        }

    .c-post__title {
        @include font-family(bold);
        margin: 0 auto rem(20px);
        max-width: 40rem;
    }


    .c-post__footer {

    }

